<div class="container">
  <header>
    <h1 id="title">Welcome to Björn's Radio!</h1>
  </header>

  <!-- Navigation using router module -->
  <nav>
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/albums">Albums</a></li>
    </ul>
  </nav>

  <!-- Element to show content of components in -->
  <router-outlet></router-outlet>
  
  <footer class="footer">
    <p><b>Created by:</b> Bj&ouml;rn G. D. Persson. <b>Updated:</b> 2020-08-01.</p>
  </footer>
</div>