
.container {
  background-color: white;
  border-radius: 1em;;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 auto;
  max-width: 1000px;
  padding: 1em;
  width: 90%;
}

.footer {
  border-top: 1px solid grey;
  margin-top: 2em;;
  text-align: center;
}

#title {
  text-align: center;
}