<h2>About this app</h2>

<p>This is an example project to test Angular (version 10) and is for a fictitious
  radio station (Björn's Radio) that allows it's listeners to list albums and artists,
  and for visitors to request songs, and then presenters to use requests to create playlists.</p>

<p>/Bj&ouml;rn G. D. Persson (Kilted Viking)</p>
<p>
  <strong>Source code:</strong> 
  <a href="https://github.com/KiltedViking/bjorns-radio-angular/" target="_blank"
  rel="noopener">https://github.com/KiltedViking/bjorns-radio-angular/</a>
</p>
